{# Data Table Component
   Usage: {% include "components/data_table.html" with context %}
   Expects: table = {"headers": [...], "rows": [[...], ...], "caption": "..."}
#}
{% if table.caption %}<caption>{{ table.caption }}</caption>{% endif %}
<table>
    <thead>
        <tr>
            {% for header in table.headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
