<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if author %}<meta name="author" content="{{ author }}">{% endif %}
    <title>{{ title }}</title>
    <style>
{{ css }}
    </style>
</head>
<body>
<div class="running-header">{{ title }}</div>
{% if style_name == 'academic' %}<div class="running-title">{{ title }}</div>{% endif %}

{% if show_cover %}
{% include "cover.html" %}
{% endif %}

{% block content %}{% endblock %}

</body>
</html>
